[tasbot]
serveraddr=springrts.com;
serverport=8200;
nick=NICK;
password=PASSWORD;
plugins=join_channels,manager,help,lag,systemlog;
admins=YOURNICK,YOURNICK2;
logfile=$HOME/logs/relayhost.log
pidfile=$HOME/pids/relayhost.pid
springdedpath=/path/to/it
debug=1

[autohost]
slavesnick=account
slavespass=password
hostports=8400:8415,8500,8800:10000
ahports=12000:14000, 5000
bans=[][]aweres[],[P][E]aweres[E][T],[PinK]Aweres[t],HOMOTINTTI
keepscript=0
enabled=1
#bindip=; if this line is present, it will force spring-dec to bind to given interface
#springdatapath=; force springdatapath if present

[join_channels]
channels=autohost
