serveraddr=springrts.com;
serverport=8200;
nick=NICK;
password=PASSWORD;
plugins=channels,manager,help,lag,systemlog;
slavesnick=account1,account2,...;
slavespass=password;
hostports=8452,8453,8454;
ahports=12000,12001,12002;
bans=[][]aweres[],[P][E]aweres[E][T],[PinK]Aweres[t],HOMOTINTTI;
keepscript=0;
admins=YOURNICK,YOURNICK2;
